@use '../../scss/' as *;

.banner-section {
    width: 100%;
}
.row {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @include lg {
        grid-template-columns: 1fr;
    }
}

.content {
    height: 25rem;
    @include lg {
        height: 40rem;
    }
    @include md {
        height: 32rem;
    }
    @include sm {
        height: 24rem;
    }
    background-color: $light-gray;
    border-radius: $b-radius;
    position: relative;
    overflow: hidden;

    img {
        object-fit: cover;
        border-radius: $b-radius;
        transform: scale(1);
        transition: all 0.3s;
    }

    .text {
        position: absolute;
        bottom: 30%;
        left: 50%;
        color: $text-grey-2;
        background-color: $white-clr;
        padding: 1.5rem;
        box-shadow: 2px 2px 2px #cccccc77;
        transform: translateX(-50%);
        transition: all 0.3s;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}
