@use '../../scss/' as *;

.feature {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            border-right: 1px solid $gray-clr-1;
            width: 100%;
            padding: 2rem 2rem;

            h3 {
                margin-bottom: 1.5rem;
            }

            .text-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            svg {
                font-size: 4.2rem;
            }

            &:last-of-type {
                border-right: none;
            }
        }

        @include sm {
            flex-direction: column;
        }
    }
}