@use '../../scss/' as *;

.news-section {
    background-color: $light-gray;
    padding: 6rem 0;
}

.news {
    display: flex;
    gap: 2rem;
}

.news-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    a,
    a:link,
    a:visited {
        padding-left: 0;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.figure {
    overflow: hidden;
    height: 100%;
    width: 100%;
    img {
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
