@use '../../scss/' as *;

.news-section {
    background-color: $light-gray;
    padding: 6rem 0;
    margin-bottom: 6rem;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @include lg {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.news-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    @include lg {
        margin-bottom: 5rem;
    }

    a,
    a:link,
    a:visited {
        padding-left: 0;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.figure {
    overflow: hidden;
    height: 100%;
    width: 100%;
    img {
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
