@use '../../scss/' as *;

.news-section {
    background-color: $light-gray;
    padding: 4rem 0;
    margin-bottom: 8rem;
    :global(.container) {
        margin-bottom: 0;
    }
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @include lg {
        grid-template-columns: 1fr 1fr;
    }
    @include md {
        grid-template-columns: 1fr;
    }
}

.news-item {
    @include lg {
        margin-bottom: 5rem;
    }
}

.figure {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    margin-bottom: 2rem;
    @include lg {
        height: 30rem;
    }
    @include md {
        height: 50rem;
    }
    @include sm {
        height: 40rem;
    }

    img {
        transition: all 0.3s;
        object-fit: cover;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.content {
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    .category {
        color: $text-grey-4;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .title {
        color: $text-grey-1;
        align-self: flex-start;
    }
    // .text {
    //     color: $text-grey-4;
    //     font-weight: 400;
    //     line-height: 1.1;
    // }
    a,
    a:link,
    a:visited {
        color: $text-grey-1;
        font-weight: 400;
        padding-left: 0;

        &:hover {
            color: $primary-clr-5;
        }
    }
}
