@use '../scss/' as *;

.galery {
    width: 100%;

    .image {
        img {
            object-fit: cover;
            cursor: zoom-in;
        }

        &:hover .zoom {
            visibility: visible;
        }
    }

    .img-btn {
        margin-top: 1rem;
        margin-left: 2rem;
        border: none;
        width: 6rem;
    }

    .active {
        box-shadow: 0 0 2px $primary-clr-5;
    }

    .zoom {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        overflow: hidden;
        pointer-events: none;
        margin-left: 4rem;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
