@use '../../scss/' as *;
.login {
    width: 60%;
    margin: 0 auto;
    border-radius: $b-radius;
    box-shadow: 0 0 1.2rem 1.2rem $light-gray;
    padding: 4rem;
    margin-bottom: 14rem;

    @include md {
        width: 94%;
    }
}
.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

.login-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    label {
        font-size: 1.8rem;
        font-weight: 500;
        color: $text-grey-1;
    }

    input {
        height: 5rem;
        padding: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        border: 1px solid $text-grey-8;
        border-radius: $btn-b-radius;
        &::placeholder {
            font-size: 1.6rem;
            font-weight: 500;
            color: $text-grey-7;
        }
    }
}

.login-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    .checkbox {
        label {
            font-weight: 500;
            margin-left: 1rem;
        }
        input {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: $btn-b-radius;
            border: 1px solid $text-grey-7;
        }
    }
    a,
    a:link,
    a:visited {
        color: $primary-clr-5;
        &::after {
            height: 2px;
        }
    }
}

.form-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    @include sm {
        flex-direction: column;
        gap: 3rem;
    }

    .sign {
        @include sm {
            order: 2;
        }
        a,
        a:link,
        a:visited {
            color: $primary-clr-5;

            &::after {
                height: 2px;
            }
        }
    }

    .submit-btn {
        @include sm {
            order: 1;
        }
        color: $white-clr;
        background-color: $primary-clr-5;
        font-size: 1.8rem;
        height: 6rem;
        width: 14rem;
        border-radius: $btn-b-radius;
        &:hover {
            background: $primary-clr-3;
        }
    }
}
