@use '../../../scss/' as *;
.category-btn-group {
    button {
        padding: 10px;
        margin-left: 2rem;
        background: transparent;
        text-transform: capitalize;
        cursor: pointer;

        @include md {
            margin-left: 0.5rem;
        }
    }

    .active {
        &::after {
            width: 100%;
        }
    }
}
