@use './scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
}

.container {
    max-width: 126rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 0 4rem;

    @include xl {
        max-width: 96rem;
    }
}

a {
    color: inherit;
}

.navlink {
    padding: 5px;
}

.h1 {
    font-size: 7.4rem;
    font-weight: 400;
}

.h2 {
    font-size: 2.8rem;
    font-weight: 600;
}

.h3 {
    font-size: 2.2rem;
}

.description {
    font-size: 2.2rem;
    line-height: 3.2rem;
}

img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.navlink {
    &:hover,
    &:active {
        color: $primary-clr;
    }
    &.active {
        color: $primary-clr;
    }
}

.link,
.link:link,
.link:visited {
    padding: 5px;
    flex-shrink: 0;
    display: inline-block;
    color: $black;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        bottom: -3px;
        left: 0;
        height: 2px;
        width: 0px;
        background-color: $primary-clr;
        transition: all 0.1s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: $black;
    padding: 5px 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: $black;
        animation: buttonHoverExit 0.2s ease-out;
    }

    &:hover {
        &::after {
            width: 100%;
            animation: buttonHover 0.2s ease-out;
        }
    }
}

.btnanimation {
    animation: textSwipeUp 1.3s ease-out;
}

// text size
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

.category {
    position: relative;
}

.category-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.page-title {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 6rem;
    background-color: rgb(255, 196, 0);
}

.breadcrumb {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .breadcrumb-nav {
        display: flex;
        align-items: center;
    }

    a {
        margin: 5px;
        text-transform: capitalize;
    }
}
