* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
}

.container {
    max-width: 124rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 0 2rem;
}

.heading-primary {
    font-size: 7.4rem;
    font-weight: 400;
}

.heading-secondary {
    font-size: 2.8rem;
    font-weight: 600;
}

.heading-3 {
    font-size: 2.2rem;
}

.description {
    font-size: 2.2rem;
    line-height: 3.2rem;
}

img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
