@keyframes textSwipeUp {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    50% {
        transform: translateY(80px);
        opacity: 0.3;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes buttonHover {
    from {
        width: 30px;
    }
    to {
        width: 100%;
    }
}
@keyframes buttonHoverExit {
    from {
        width: 100%;
    }
    to {
        width: 30px;
    }
}
