$black: #000;
$black1: #111111;
$white-clr: #fff;
$gray1: #3f3f3f;
$lightText: #909090;
$primary-clr: #ff1e20;
$primary-clr-400: #ff3536;
$primary-clr-300: #ff4b4d;
$light-gray: #f8f8f8;
$dark-gray: #7c7c7c;

@mixin text-sm {
    @media (max-width: 40em) {
        @content;
    }
}
