// Colors
$black-clr: #000;
$white-clr: #fff;

$text-clr: #2e2e2e;

$light-gray: #f8f8f8;
$gray: #d4d4d4;
$dark-gray: #7c7c7c;

$primary-clr-1: #991213;
$primary-clr-2: #b31516;
$primary-clr-3: #cc181a;
$primary-clr-4: #e61b1d;
$primary-clr-5: #ff1e20;
$primary-clr-6: #ff3536;
$primary-clr-7: #ff4b4d;
$primary-clr-8: #ff6263;
$primary-clr-9: #ff7879;
$primary-clr-10: #ff8f90;

$text-grey-1: #102a42;
$text-grey-2: #243a54;
$text-grey-3: #324d67;
$text-grey-4: #48647f;
$text-grey-5: #617d98;
$text-grey-6: #829ab0;
$text-grey-7: #9eb2c7;
$text-grey-8: #bcccdc;
$text-grey-9: #dae2ec;
$text-grey-10: #f1f5f8;

// Border Radius
$btn-b-radius: 3px;
$b-radius: 6px;

@mixin text-sm {
    @media (max-width: 40em) {
        @content;
    }
}
