@use '../scss/' as *;

.product-card {
    -webkit-user-drag: none;
    max-width: 28rem;

    &:hover {
        .button-group {
            visibility: visible;
            opacity: 1;
            bottom: 3rem;
            transition: all 0.2s;

            .btn {
                transition: all 0.1s, transform 0.3s;

                &:nth-child(1) {
                    transform: translateY(0);
                }

                &:nth-child(2) {
                    transform: translateY(0);
                }

                &:nth-child(3) {
                    transform: translateY(0);
                }
            }
        }
    }
}

.img-box {
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: $b-radius;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-user-drag: none;
    }
}

.button-group {
    position: absolute;
    left: 50%;
    bottom: -4.5rem;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;

    visibility: hidden;
    opacity: 0;

    .btn {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-color: $white-clr;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-grey-3;
        cursor: pointer;

        svg {
            font-size: 2rem;
        }

        &:hover {
            background: $primary-clr-5;
            color: $white-clr;
        }

        &:nth-child(1) {
            transform: translateY(0px);
        }

        &:nth-child(2) {
            transform: translateY(100px);
        }

        &:nth-child(3) {
            transform: translateY(300px);
        }
    }

    .active {
        color: $white-clr;
        background-color: $primary-clr-4;
    }
}

.product-text-box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 0 1rem;
    color: $text-grey-1;

    h5 {
        height: 4rem;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    .product-price {
        font-weight: 600;
        span {
            opacity: 0.5;
            text-decoration: line-through;
            margin-right: 0.8rem;
        }
    }

    .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }
}

.badge {
    width: 100%;
    display: flex;
    justify-content: space-between;

    gap: 0.5rem;
    position: absolute;
    padding: 1rem;
    top: 0;

    font-size: 1.4rem;
    letter-spacing: 0.3px;

    color: $white-clr;

    .sale,
    .new {
        background: $primary-clr-5;
        padding: 5px;
        border-radius: $btn-b-radius;
    }

    .new {
        background: green;
        margin-right: auto;
    }
}
