@use '../scss/' as *;
.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;

    width: max-content;
    max-width: 90%;
    display: none;
    z-index: 111;

    @include md {
        max-height: 60%;
    }
    figure {
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
        }
    }
}

.show {
    display: block;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 112;
    top: 50%;
    transform: translateY(-50%);

    button {
        opacity: 0.5;
        svg {
            font-size: 4.4rem;
            color: $text-grey-3;
        }

        &:hover {
            svg {
                color: $primary-clr-5;
            }
            transform: scale(1.1);
        }
    }
}

.slider-dot {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 1.4rem;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    .dot-btn {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background: $white-clr;
        border: 2px solid $text-grey-7;
    }

    .active {
        background: $primary-clr-5;
        border: 1px solid $primary-clr-5;
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    background: $black-clr;
    opacity: 0.3;
    z-index: 110;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $primary-clr-5;
    transition: all 0.1s;

    &:hover {
        color: $primary-clr-3;
        transform: scale(1.1);
    }
    svg {
        font-size: 3rem;
        text-shadow: 0 0 1px 1px $white-clr;
    }
}
